.intro_screen{
	background-color: #eeb2ff;
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	top: 0px;
	left: 0px;
	border: 2px solid;
	border-color: #C884CC;
	border-radius: 20px;
	display: none;
}

.music_albuns{
	position: absolute;
	z-index: 10;
	width: 665px;
	height: 75px;
	background-color: #C884CC;
	border: 2px solid;
	border-color: #EEEEEE;
	opacity: 0.95;
	top: 58.5%;
	left: 3%;
	overflow-y: auto;
	display: none;
}

#albumlist_choices{
	margin-top: 0%;
}

.close_music{
	margin-left: 95.5%;
	margin-top: 1%;
}

.choose_music{
	position: absolute;
	cursor: pointer;
	background-color: #A884AA;
	border-radius: 20px;
	font-family: Arial;
	font-size: 18px;
	color: #EEEEEE;
	font-weight: bold;
	border: none;
	padding: 2%;
	top: 83%;
	left: 21.5%;
}

.choose_music:hover{
	opacity: 0.5;
}

.intro_screen p{
	margin-left: 2%;
	margin-top: 2%;
	font-family: Arial;
}

.intro_screen img{
	position: absolute;
	cursor: pointer;
	left: 20%;
	top: 20%;
}

.intro_screen img:hover{
	opacity: 0.5;
	-moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
 	transform: scale(1.2);
}

.core_screen{
	background-color: #EEB2FF;
	position: absolute;
	border:2px solid;
	border-radius: 25px;
	border-color: #C884CC;
	width: 1024px;
	height: 768px;
	top: 0px;
	left: 0px;
}

.music_list{
	position: absolute;
	left: -4%;
	top: 2%;
	width:1016px;
	height: 500px;
	overflow-y: auto;
	list-style-type: none; 
	z-index: 0;
}

#music{
	cursor: pointer;
	font-family: "Comic Sans MS";
	margin-left: 77%;
	margin-top: 1%;
	line-height: 2px;
	color: #FFFFFF;
	padding: 15px;
	height: 0px;
	width: 184px;
	background-color: #C884CC;
	border-radius: 15px;
}

.arrow:hover{
	opacity: 0.5;
}

.right_arrow{
	position: absolute;
	top: 104%;
	left: 17%;
	width: 10%;
	height: 10%;
	cursor: pointer;
}

.left_arrow{
	position: absolute;
	top: 104%;
	left: 0%;
	width: 10%;
	height: 10%;
	cursor: pointer;
	
	-moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
 	transform: rotate(180deg);
}

.audio_system{
	position: absolute;
	top: 580px;
	left: 375px;
}

.album_chooser{
	position: absolute;
	background-color: #C884CC;
	z-index: 15;
	border: 2px solid;
	border-color: #EEEEEE;
	border-radius: 2px;
	width: 77px;
	height: 500px;
	top: 2%;
	left: 75%;
	opacity: 0.95;	
	display: none;
	overflow-y: auto;
}

#album_choices{
	margin-left: -12px;
	margin-top: 10px;
}

.close_album{
	margin-top: 10%;
	margin-left: 6%;
}

.photo_slideshow{
	position: absolute;
	height: 540px;
	margin-top: 1%;
	margin-left: 1%;
	width: 750px;
	border:2px solid;
	border-radius:25px;
	border-color: #FFFFFF;
	background-color: #B884BB;
}

.photo_cover{
	display: none;
	position: absolute;
	height: 540px;
	margin-top: 1%;
	margin-left: 1%;
	width: 750px;
	border:2px solid;
	border-radius:25px;
	border-color: #FFFFFF;
	background-color: #A884AA;
	z-index: 10;
}

.photo_display{
	position: absolute;
	font-family: Arial;
	background-color: #A884AA;
	padding: 5px;
	border-radius: 15px;
	top: 72%;
	left: 23%;
	color: #EEEEEE;
	cursor: pointer;
}

.photo{
	margin-top: 2%;
	width: 80%;
	height: auto;
}

.photo_poem{
	position: absolute;
	font-family: Arial;
	width: 800px;
	font-size: 16px;
	background-color: #A884AA;
	padding: 15px;
	border-radius: 5px;
	color: #EEEEEE;
	top: 87%;
	left: 2%
}

.photo_display:hover{
	opacity: 0.5;
}

.current_photo_display{
	position: absolute;
	background-color: #B884BB;
	color: #EEEEEE;
	border-radius: 10px;
	font-family: Arial;
	font-size: 37px;
	top: 71.9%;
	left: 8.9%;
	padding: 2px;
}

.photo_container{
	width: 708px;
	height: 525px;
	overflow: auto;
	top: 1%;
	left: 3%;
	z-index: 5;
	position: absolute;
	text-align: center;
	vertical-align: center;
}

#flor_ilustra{
	position: absolute;
	top: 72%;
	left: 77%;
	width: 20%;
	height: auto;
}
